.containerLeft {
    width: 35%;
    height: 100%;
    padding-left: 3%;
    padding-top: 3%;
    border-radius: 1vh;
    background-color: #274e55;

    color: white;
}   
.containerRight {
    width: 65%;
    height: 100%;
    border-radius: 4vh;
    padding-left: 3%;
    padding-top: 5%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logoWDA{
    width: 20%;

}
.text1, .text2{
    font-size: 5vh;
    font-family:'Merriweather', serif;
}

.text3{
    font-size: 3vh;
    font-family:'Merriweather', serif;
}
.text4{
    font-size: 5vh;
    font-family:'Merriweather', serif;
    margin-bottom: 5vh;
}

.campos{
    width: 90%;
    font-size: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.q-input{
    width: 100%;
    height: 8vh;
    font-size: 2vh;
    margin-left: 3%;
    margin-bottom: 2vh;
}
.q-btn{
    width: 30%;
    height: 30%;
    font-size: 2vh;
    border-radius: 1vh;
    margin-top: 2vh;
}